.Dashboard-wrapper {
    padding: 0px 10%;
    min-height: 100vh;
    overflow: hidden;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: hsl(232, 19%, 15%);
    padding-bottom: 10%;
}
header .header-right {
    text-align: left;
    align-items: left;
    margin-left: 20px;
    margin-top: 20px;
}



.white-bg {
  background: hsl(230, 22%, 74%);
}

header .header-right h1 {
    font-size: 1.5rem;
}
header .header-right p {
    color: rgb(161, 160, 160);
   
}

.dashboard-contents{
    margin-bottom: 30px;
    margin-top: -10%;
}
.dashboard-contents .overview{
    display: flex;
 justify-content: flex-start;
 margin-left: 40px;
 /* color: white; */
 margin-top: 10px;
 font-weight: bold;

}


.dashboard-contents-1 {
    margin-top: 10px;
}
.dashboard-contents  .contents-1,
.dashboard-contents  .contents-2
{
    width: 100%;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px 0px;
    height: auto;
    margin-left: -10px;
}
.dashboard-contents  .contents-1 .card,
.dashboard-contents  .contents-2 .card
{
  width: 100%;
  border-radius: 10px;
 
  font-weight: bold;
}
.dashboard-contents  .contents-1 .card .card-item,
.dashboard-contents  .contents-2 .card .card-item
{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1px;
    justify-content: space-between;
    height: auto;
 
}
.dashboard-contents  .contents-2 .card .card-item
{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    gap: 1px;
    justify-content: space-between;
    height: auto;
 
}


.dashboard-contents  .contents-2 .card .card-item h1{
font-weight: bolder;
font-size: 2rem;
 
}
.dashboard-contents  .contents-1 .card .card-item p{
font-weight: lighter;
 
}
.dashboard-contents  .contents-1 .card .card-item span{
font-weight: bold;
 
}
.grad {
    background: linear-gradient(to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
    /* background: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%); */
}
.youtube {
    background: hsl(348, 97%, 39%);
}
.youtube-text {
    color: hsl(348, 97%, 39%); 
}
.letter {
    letter-spacing: 5px;
}

.darkMode-bg {
    background: hsl(230, 17%, 14%)
}
.darkMode-card {
    background: hsl(228, 28%, 20%);
    cursor: pointer;
}
.darkMode-card:hover {
    background: hsl(230, 27%, 30%);
    
}
.darkMode-text {
color: hsl(0, 0%, 100%)
}

.darkMode-switch {
background: hsl(163, 72%, 41%)
}
.darkMode-switch-btn {
    background: hsl(232, 19%, 15%);
}


.green-border {
    color: hsl(163, 72%, 41%)
}

.text-color {
    color: rgb(161, 160, 160);
    font-weight: bolder;
}

.dashboard-contents  .contents-1 .card .title{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 2px;
 font-weight: lighter;
}



.dashboard-contents  .contents-2 .card .title,
.dashboard-contents  .contents-2 .card .numbers
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-contents  .contents-2 .card .numbers p 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media  screen and (max-width: 1024px) {
    .dashboard-contents  .contents-1,
    .dashboard-contents  .contents-2
    {
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: 250px 250px;
        justify-content: space-evenly;
        gap: 10px;
        padding: 10px 10px;
        height: auto;
    }
}
@media  screen and (max-width: 768px) {
    .dashboard-contents  .contents-1,
    .dashboard-contents  .contents-2
    {
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: 250px 250px;
        justify-content: space-evenly;
        gap: 10px;
        padding: 10px 10px;
        height: auto;
    }
}
@media  screen and (max-width: 425px) {
    .Dashboard-wrapper {
        background: red;
    }
    .dashboard-contents  .contents-1,
    .dashboard-contents  .contents-2
    {
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: 250px;
        justify-content: center;
        gap: 10px;
        padding: 10px 10px;
        height: auto;
        margin-left: -2px;
    }
    
    .header-left {
     width: 100%;
    }
}